@{
    ViewData["Title"] = "Detalhes de Desenvolvimento";
}
<h1>@ViewData["Title"]</h1>
<br /><br />

<p>Para o desenvolvimento dessa aplicação foram usados os conceitos de MVC (Model-View-Controller) do ASP.NET Core. Inicialmente foi criada uma classe modelo (UsuarioModel.cs) que dá forma ao nosso objeto usuário. Foi criada também uma classe UsuarioService.cs para o gerencimento dos usuários. Na nossa controller, que é responsável por fazer as requisições ao servidor, fizemos a injeção de dependência da classe UsuarioService.cs, para chamarmos os seus métodos.. Os dados são armazenados em um banco de dados (SQL Server) que foi construído através do Entity Framework (migrations). O código completo da aplicação está disponível em COMPLETAR.
</p>
