@{
    ViewData["Title"] = "Bem-vindo!";
}

<div class="text-center">
    <h1 class="display-4">Seja bem-vindo a nossa aplicação!</h1>
    <br /><br />
    <p>Com ela você pode fazer o gerenciamento completo de usuários no sistema de maneira fácil e rápida. <a href="https://localhost:7029/Home/Login">Clique aqui</a> e começe agora mesmo.</p>
</div>
